@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.tag {
    @include link;
    & {
        height: 1.5rem;
        width: fit-content;
        padding: 0.25rem 0.5rem;
        border-radius: 1.25rem;
        text-transform: uppercase;
        font-weight: $semi-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .6875rem;
        line-height: 1rem;
        
        @include tablet {           
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }

    &--default {
        background-color: $color-tag-background-default;
        color: $color-tag-text-default;
    }

    &--warning {
        background-color: $color-tag-background-warning;
        color: $color-tag-text-warning;
    }

    @include tablet {
        height: 1.625rem;
    }
}