@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

@mixin button-default {
    border: 1px solid $color-btn-primary-default;
    height: 2.25rem;
    width: 100%;
    border-radius: 1.25rem;
  
    @include tablet {
      height: 2.375rem;
      padding: 0 1rem;
      width: fit-content;
    }
   
}       
  .button {
    @include button-default;
    background-color: $color-btn-primary-default;
    color: $color-text-btn-primary;
  
    &:hover {
      background-color: $color-btn-primary-hover;
    }

    &--secondary {
      background-color: $color-btn-secondary-default;
      color: $color-text-btn-secondary-default;
      background-color: $color-btn-secondary-default;
      color: $color-text-btn-secondary-default;
  
      &:hover {
      background-color: $color-btn-secondary-hover;
        color: $color-text-btn-secondary-hover;
      }
    }
    &--delete {
      background-color: $color-btn-delete-default;
      color: $color-text-btn-delete;
  
    &:hover {
      background-color: $color-btn-delete-hover;
    }
  }
}