@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button-default {
  border: 1px solid $color-btn-primary-default;
  height: 2.25rem;
  width: 100%;
  border-radius: 1.25rem;

  @include tablet {
    height: 2.375rem;
    padding: 0 1rem;
    width: fit-content;
  }
}

@mixin button-primary {
  @include button-default;
  background-color: $color-btn-primary-default;
  color: $color-text-btn-primary;

  &:hover {
    background-color: $color-btn-primary-hover;
  }
}

@mixin button-secondary {
  @include button-default;
  background-color: $color-btn-secondary-default;
  color: $color-text-btn-secondary-default;

  &:hover {
    background-color: $color-btn-secondary-hover;
    color: $color-text-btn-secondary-hover;
  }
}

@mixin button-delete {
  @include button-default;
  background-color: $color-btn-delete-default;
  color: $color-text-btn-delete;

  &:hover {
    background-color: $color-btn-delete-hover;
  }
}