@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin link {
  font-size: .8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: .875rem;
    font-weight: $semi-bold;
    line-height: 1.375rem;
  }
}

@mixin details-label {
    
}