@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
  color: $color-text-footer;
  background-color: $color-background-footer;
  text-align: center;
  padding: 1rem;
  width: 100%;
}